<?xml version="1.0" encoding="utf-16"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskBarSorterXP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TaskBarSorterXP.Properties.Settings>
      <setting name="ApplicationSortOrder" serializeAs="String">
        <value>outlook.exe;explorer.exe;firefox.exe;notepad++.exe;devenv.exe</value>
      </setting>
    </TaskBarSorterXP.Properties.Settings>
  </userSettings>
</configuration>
